{% extends "network/layout.html" %}

{% block body %}
<div class="col-md-12 ">
    {% for post in posts %}
    	{% if post.user_id in following %}
                <form action="{% url 'index'%}" method="get">
                    <input type="hidden" value="{{ post.id }}" name="p_id">
                </form>
                <div class="new-post">
                    {% if post.user.username %}
                        <h4>{{ post.user }}</h4>
                        {% else %}
                        <h4>{{ post.user.email }}</h4>
                    {% endif %}

                    <div>{{ post.content }}</div>
                    <div id="post-date">{{ post.date_posted }}</div>
                    
                        {% if post.id in t %}
                            <button id="but_{{ post.id }}" value="like" class="btn btn-link" onclick="like({{ post.id }})">
                            ❤️
                            </button>
                        {% else %}
                            <button id="but_{{ post.id }}" value="dislike" class="btn btn-link" onclick="like({{ post.id }})">
                            🤍
                            </button>
                        {% endif %} 
                    
                <span id="like_count_{{ post.id }}">{{ post.like }}</span>
            	</div>
    	{% endif %} 
    {% endfor %}
     </div>   
    <script>
        function like(postId){
            var l = parseInt(document.querySelector(`#like_count_${postId}`).innerHTML)
            if(document.querySelector(`#but_${postId}`).value === 'like'){
                document.querySelector(`#but_${postId}`).value = 'dislike'
                document.querySelector(`#but_${postId}`).innerHTML = '🤍'
                document.querySelector(`#like_count_${postId}`).innerHTML = ''
                document.querySelector(`#like_count_${postId}`).innerHTML = l - 1
            }
            else{
                document.querySelector(`#but_${postId}`).value = 'like'
                document.querySelector(`#but_${postId}`).innerHTML = '❤️'
                document.querySelector(`#like_count_${postId}`).innerHTML = ''
                document.querySelector(`#like_count_${postId}`).innerHTML = l + 1
            }
             {#const data = {#}
             {#    key1: postId,#}
             {#    key2: 'value2'#}
             
             fetch(`/like/${postId}`, {
                 
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken')  // برای ارسال توکن CSRF
                },
                {#body: JSON.stringify(data)#}
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
}

// تابع برای دریافت توکن CSRF
function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // بررسی نام کوکی
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
        
    </script>
{% endblock %}